body {
  margin: 0;
  /* font-family: 'Tangerine', serif;
  font-size: 48px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(80, 83, 83)
  ;
}

/* code {
  font-family: 'Modak', cursive;

} */
